<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
</div>

<div class="card mb-3">
  <img class="card-img-top" src="https://www.kingpinbowling.com.au/~/media/kingpin/headers/birthdays/birthday_parties.jpg">
  <div class="card-body">
    <h5 class="">Создай свою вечеринку ;)</h5>
    <p>
            <button type="button" class="btn btn-danger btn-lg btn-block">Войти</button>
        </p>
        <p>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block">Зарегистрироваться</button>
        </p>
  </div>

    <h1> </h1>
        <p>
        </p>
</body>
</html>