<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
</div>

<div class="card bg-dark text-white">
  <img class="card-img" src="https://pp.userapi.com/c852136/v852136669/5516f/WlKJyf3bdvo.jpg">
  <div class="card-img-overlay">
     <h5 class=""><center>Создай свою вечеринку ;)</center></h5>
    <p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <button type="button" class="btn btn-danger btn-lg btn-block">Войти</button>
        </p>
        <p>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block">Зарегистрироваться</button>
        </p>

      <form action="/search" method="get">
            <input type="search" name="query" class="form-control">
            <button type="submit" class="btn btn-primary">Искать</button>

      </form>

  </div>

    <h1> </h1>
        <p>
        </p>
</body>
</html>