<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>My Super Appplication</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="{%if user.photo%}
                {{user.photo}}
                {%else%}
                https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg
                {%endif%}" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <h1>{{user.name}}</h1>
                <p>Age {{user.age}}</p>
                <p>Alcohol: {{user.alcohol}}</p>
                <p>Smoking: {{user.cigarettes}}</p>
            </div>
            <p>
                 <a href="/create_event" class="btn btn-danger btn-lg btn-block" role="button">Create event</a>
            </p>

            <form class="form" method="get" action="/events">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Find events</button>
            </form>

        </div>
    </div>
</body>
</html>